:root {

    // <------------------- FONT-FAMILY ------------------->
    --font-family1: "Lato", sans-serif;
    --font-family2: "Purple Purse", serif;

    // <------------------- COLOR ------------------->
    --colorblack: #000;
    --colorwhite: #fff;
    --hfcolor: #181516;
    --transparent: #ffffff00;
    --thmred: #a82223;
    --textfill1: #616161;
    --textp1: #676262;
    --textp2: #CFCFCF40;
    --textp3: #00000040;
    --textp4: #B8B7B7;
    --textp5: #FFFFFF66;
}