.details-header {
  padding: 60px 20px 30px;
  border-bottom: 1px solid var(--textp6);

  p {
    font-family: var(--font-family1);
    color: var(--hfcolor);
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
  }
}
