.sidebar-main {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--colorwhite);
    z-index: 10;
    transition: all 0.3s ease-in-out;
    width: 0;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: grid;
    grid-template-rows: 84px 1fr;

    &.sidebar-main-open {
        width: 100%;
    }

    .sidebar-header {
        width: 100%;
        padding: 27px 20px;
        display: flex;
        justify-content: end;
        align-items: center;

        @media (max-width:576px) {
            justify-content: start;
        }

        .sidebar-close-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 3px;
            width: 30px;
            height: 30px;

            svg {
                height: 100%;
                fill: var(--colorblack);
            }
        }
    }

    .sidebar-content-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;

        .sidebar-link-div:last-child {
            border-bottom: none;
        }

        .sidebar-link-div-sc {
            justify-content: end !important;
        }

        .sidebar-link-div {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 0 0 20px 0;
            border-bottom: 2px solid var(--colorblack);

            a {
                color: var(--hfcolor);
                font-family: var(--font-family1);
                font-size: 30px;
                font-weight: 700;
                line-height: 35px;
                position: relative;

                &::after {
                    content: " ";
                    position: absolute;
                    right: 0;
                    bottom: -5px;
                    left: 0;
                    height: 2px;
                    background: var(--hfcolor);
                    z-index: -1;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                @media (max-width:576px) {
                    font-size: 25px;
                    line-height: 25px;
                }
            }
        }
    }
}